NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_BANK_INFO=Banco Estado · Cuenta Vista 000000000|Titular: Centro de Alumnos Biotecnología UFRO|RUT 00.000.000-0|correo@ufromail.cl
NEXT_PUBLIC_CONTACT=+56912345678
